<div class= "container">
  <div class="row mt-5">
    <div class="col-md-6 mt-10 mb-10">
      <%= attachment_image_tag @dog, :image, :fill, 400, 400, format: 'jpeg' %>
    </div>
    <div class="col-md-5">
      <h4 class="content">名前</h4>
        <%= @dog.name %>
      <br/>
      <h4 class="content">犬種</h4>
        <%= @dog.dog_breed %>
      <h4 class="content">紹介</h4>
         <%= @dog.introduction %>
      <h4 class="content">遊べる地域</h4>
        <%= @dog.area %>
        
      <div id="like_<%= @dog.id %>">
      <%= render "member/likes/like", dog: @dog %>
      </div>
      <br/>
      <% if member_signed_in? %>
        <% if @room.present? %><!----roomがnilどうかで分岐させる>@roomの中身があればtrueなければfalse-->
          <%= link_to "DMを送る", room_path(@room), class: "fas fa-dog" %>
        <% else %>
      
          <%= form_tag(rooms_path, method: :post) do %>
            <%= hidden_field_tag :foster_id, @foster.id %> <!--:foster_idはキーの名前 value で渡したい値、つまり@foster.idを渡すtagの場合は構文がかわる-->
            <%= hidden_field_tag :dog_id, @dog.id %> <!--<form_tagはモデルもたない為上の書き方にならない>-->
            <%= submit_tag "チャットを始める" %>
          <% end %>
        <% end %>
      <% end %>
      <div class="col text-right">
          <%= link_to '戻る', member_dogs_path, class: "btn btn-outline-primary" %>
        </div>
    </div>
  </div>
</div>
