<div class="container">
  <div class="row">
    <div class="col text-center">
      <%= attachment_image_tag @dog, :image, :fill, 500, 500, format: 'jpeg' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 text-center mt-4">
      <strong><%= @dog.name %></strong>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 text-right">
    <p>紹介</p><br />
      <%= @dog.introduction %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>遊べる地域</p>
      <%= @dog.area %>
    </div>
  </div>
  <div id="like_<%= @dog.id %>">
    <%= render "member/likes/like", dog: @dog %>
  </div>
</div>

<!--if create or show => @room nil?-->
<!--% if @isRoom == true %> -->

<% if member_signed_in? %>
  <% if @room.present? %><!----roomがnilどうかで分岐させる>@roomの中身があればtrueなければfalse-->
    <%= link_to "もう一度DMを送る", room_path(@room), class: "fas fa-dog" %>
  <% else %>

    <%= form_tag(rooms_path, method: :post) do %>
      <%= hidden_field_tag :foster_id, @foster.id %> <!--:foster_idはキーの名前 value で渡したい値、つまり@foster.idを渡すtagの場合は構文がかわる-->
      <%= hidden_field_tag :dog_id, @dog.id %> <!--<form_tagはモデルもたない>-->
      <%= submit_tag "チャットを始める" %>
    <% end %>
  <% end %>

<% end %>



