<div class="container">
    <div class="row">
        <div class="col">
        <% if foster_signed_in? %>
            <% if @room.present? %><!----roomがnilどうかで分岐させる>-->
                <% @room.each do |room| %>
                    <%= link_to "チャットへ", room_path(room), class: "fas fa-dog" %> 
                    <!--%= link_to "チャットへ", room_path(current_foster.rooms.find_by(member_id: member.id)), class: "fas fa-dog" %> <!--member_idカラムの　member.id を探す-->
                    <%= room.member.last_name %><%= room.member.first_name %> さんとのＤＭです。
                <% end %>
            <% end %>
        <% end %>
        <% if member_signed_in? %>
            <% if @room.present? %><!----roomがnilどうかで分岐させる>-->
                <% @room.each do |room| %>
                    <%= link_to "チャットへ", room_path(room), class: "fas fa-dog" %> 
                    <!--%= link_to "チャットへ", room_path(current_foster.rooms.find_by(member_id: member.id)), class: "fas fa-dog" %> <!--member_idカラムの　member.id を探す-->
                    <%= room.foster.last_name %><%= room.foster.first_name %> さんとのＤＭです。
                <% end %>
            <% end %>
        <% end %>
        </div>
    </div>
</div>