<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>ようこそ　Matching bowへ</h1>
            <p>犬とふれあいたい方と保護犬をマッチングさせるサイトです</p>
            <%= link_to "犬と遊びたい！", new_member_registration_path %>
            <%= link_to "犬を遊ばせたい", new_foster_registration_path %>
        </div>
    </div>
    <% if foster_signed_in? %>
        <% @members.each do |member| %>
            <%= member.last_name %><%= member.first_name %>さんからDMが届いています。
            <br/>
                <% if @room.present? %><!----roomがnilどうかで分岐させる>-->
                <!--%= link_to "チャットへ", room_path(@room), class: "fas fa-dog" %> -->
                <%= link_to "チャットへ", room_path(current_foster.rooms.find_by(member_id: member.id)), class: "fas fa-dog" %> <!--member_idカラムの　member.id を探す
                <% end %>
        <% end %>
    <% end %>

