<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="head-line text-center title_h2">マイページ編集</h2>
        <%= form_with(model:@member, url:member_member_path, local: true ) do |f| %>
  
  
        <table class="table table-bordered table-condensed" >
          <tbody>
            <div class="field">
              <%= f.label :"名前（姓）" %><br />
              <%= f.text_field :last_name, autofocus: true %>
            </div>
  
            <div class="field">
              <%= f.label :"(名)" %><br />
              <%= f.text_field :first_name, autofocus: true %>
            </div>
  
            <div class="field">
              <%= f.label :"メールアドレス" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
  
            <div class="field">
              <%= f.label :"電話番号(ハイフンなし)" %><br />
              <%= f.text_field :telephone_number, autofocus: true %>
            </div>
  
            <div class="field">
              <%= f.label :"郵便番号(ハイフンなし)" %><br />
              <%= f.text_field :postal_code, autofocus: true %>
            </div>
  
            <div class="field">
              <%= f.label :"住所" %><br />
              <%= f.text_field :address, autofocus: true %>
            </div>
            <div class="actions">
              <%= f.submit "変更を保存", class: "btn btn-primary" %>
            </div>
        <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>