<% if member_signed_in? && @member.id == current_member.id %>
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h2>マイページ</h2>
        
        <table class="table table-bordered table-condensed" >
          <tbody>
            <tr>
              <td class="info">名前</td>
              <td class="text-left"><%= @member.last_name %><%= @member.first_name %></td>
            </tr>
            <tr>
              <td class="info">メールアドレス</td>
              <td class="text-left"><%= @member.email %></td>
            </tr>
            <tr>
              <td class="info">電話番号</td>
              <td class="text-left"><%= @member.telephone_number %></td>
            </tr>
            <tr>
              <td class="info">郵便番号</td>
              <td class="text-left"><%= @member.postal_code %></td>
            </tr>
            <tr>
              <td class="info">住所</td>
              <td class="text-left"><%= @member.address %></td>
            </tr>
          </tbody>
        </table>
        <%= link_to '編集する', edit_member_member_path, class: "btn btn-outline-secondary" %>
        <%= link_to "退会", out_member_members_path, method: :PATCH, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger" %>
      </div>
    </div>
  </div>  
</div>
<% end %>