<div class="container">
  <div class="row mt-3">
    <div class="col-md-1"></div>
    <div class="col-md-2 text-center">
      <h4 style="background-color: #cd5c5c; color: white;"></h4>
    </div>
    
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="head-line text-center title_h2">マイページ</h2>
        
        <table class="table table-bordered table-condensed" >
          <tbody>
            <tr>
              <td class="info">名前</td>
              <td class="text-left"><%= @member.last_name %><%= @member.first_name %></td>
            </tr>
            <tr>
              <td class="info">メールアドレス</td>
              <td class="text-left"><%= @member.email %></td>
            </tr>
            <tr>
              <td class="info">電話番号</td>
              <td class="text-left"><%= @member.telephone_number %></td>
            </tr>
            <tr>
              <td class="info">郵便番号</td>
              <td class="text-left"><%= @member.postal_code %></td>
            </tr>
            <tr>
              <td class="info">住所</td>
              <td class="text-left"><%= @member.address %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>  
</div>
<%= link_to '編集する', edit_member_member_path, class: "btn btn-outline-secondary" %>
<% if foster_signed_in? && @member.id == current_member.id %>
  <%= link_to "退会", out_member_members_path, method: :PATCH, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger" %>
<% end %>

