<%= form_with model:@dog, url: foster_dogs_path, local:true do |f| %>
<div class="container">
  <div class="row">
    <div class="col-md-8 ml-md-auto">
        <table>
          <tr>
            <th><%= f.label :"画像" %></th>
            <td>
              <div class="form-group">
                <%= f.attachment_field :image %>
              </div>
            </td>
          </tr>
          <tr>
            <th><%= f.label :"犬の名前" %></th>
            <td>
              <div class="form-group">
                <%= f.text_field :name, placeholder: "太郎" %>
              </div>  
            </td>
          </tr>
          <tr>
            <th><%= f.label :"紹介文" %></th>
            <td>
              <div class="form-group">
                <%= f.text_area :introduction, placeholder: "散歩が大好きです" %>
              </div> 
            </td>
          </tr>
          <tr>
            <th><%= f.label :"犬種" %></th>
            <td>
              <div class="form-group">
                <%= f.text_field :dog_breed, placeholder: "ゴールデンレトリバー" %>
              </div> 
            </td>
          </tr>
          <tr>
            <th><%= f.label :"遊べる地域" %></th>
            <td>
              <div class="form-group">
                <%= f.text_field :area, placeholder: "東京都〇〇区" %>
              </div> 
            </td>
          </tr>
          <tr>
            <th></th>
            <td>
              <div class="actions">
                <%= f.submit '登録', class: "btn btn-outline-info" %>
              </div> 
            </td>
          </tr>
        </table>
        
          
        
    </div>
  </div>
</div>

<% end %>