<!DOCTYPE html>
<html>
  <head>
    <title>Matchingbow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
　
  <body>
    <header>
      <% if foster_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_foster_session_path, method: :delete %>
      </li>
      <li>
        <%= link_to "マイページ", foster_foster_path(current_foster.id) %>
      </li>
      <li>
        <%= link_to "犬の登録", new_foster_dog_path %>
      </li>
      <li>
        <%= link_to "犬の一覧", foster_dogs_path %>
      </li>
      <% elsif member_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_member_session_path, method: :delete %>
      </li>
      <li>
        <%= link_to "マイページ", member_member_path(current_member.id) %>
      </li>
      <% else %>
      <li>
        <%= link_to "新規登録", new_foster_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_foster_session_path %>
      </li>
    <% end %>
    </header>
    <%= yield %>
    <footer class="fixed-bottom">
      <div class="d-flex align-items-center justify-content-center text-dark" style="height: 50px;">
        <p class="nav-item" id="">&copy;　Matching bow</p>
      </div>
    </footer>
  </body>
</html>
