<!DOCTYPE html>
<html>
  <head>
    <title>Matchingbow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class=class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">

      <% if foster_signed_in? %>

      <ul class="nav-item">
        <%= link_to "ログアウト", destroy_foster_session_path, method: :delete, class: 'fas fa-sign-out-alt faa-wrench nav-link badge badge-pill' %>
      </ul>
      <ul class="nav-item">
        <%= link_to "マイページ", foster_foster_path(current_foster.id), class: 'fas fa-user faa-wrench nav-link badge badge-pill'  %>
      </ul>
      <ul class="nav-item">
        <%= link_to "犬の登録", new_foster_dog_path, class: "fas fa-paw"  %>
      </ul>
      <ul class="nav-item">
        <%= link_to "犬の一覧", foster_dogs_path, class: "fas fa-dog" %>
      </ul>
      
      <% elsif member_signed_in? %>
      <ul class="nav-item">
        <%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: 'fas fa-sign-out-alt faa-wrench nav-link badge badge-pill' %>
      </ul>
      <ul class="nav-item">
        <%= link_to "マイページ", member_member_path(current_member.id), class: 'fas fa-user faa-wrench nav-link badge badge-pill'  %>
      </ul>
      <ul class="nav-item">
        <%= link_to "犬の一覧", member_dogs_path, class: "fas fa-dog" %>
      </ul>
      <ul class="nav-item">
        <%= link_to "お気に入り一覧", member_likes_path, class: "fas fa-dog" %>
      </ul>
      <% else %>
      <ul class="nav-item">
        <%= link_to "新規登録", new_foster_registration_path, class: 'fas fa-user-plus faa-wrench nav-link  badge badge-pill' %>
      </ul>

      <ul class="nav-item">
        <%= link_to "犬の一覧", member_dogs_path, class: "fas fa-dog" %>
      </ul>
    <% end %>
    </header>

    <% if flash[:notice] %>
      <p class="alert alert-success">
        <%= flash[:notice] %>
      </p>
    <% end %>
    <%= yield %>

  </body>
</html>
